<ion-content fullscreen class="email-content">

  <div class="email-header">

    <ion-icon
      name="arrow-back-outline"
      (click)="goBack()">
    </ion-icon>

    <h2>
      Ubah Email
    </h2>

  </div>

  <div class="email-card">

    <div class="input-group">

      <label>
        Email lama
      </label>

      <input
        type="email"
        [(ngModel)]="oldEmail">

    </div>

  
    <div class="input-group">

      <label>
        Email terbaru
      </label>

      <input
        type="email"
        [(ngModel)]="newEmail">

    </div>

    <button
      class="save-btn"
      (click)="saveEmail()">

      Simpan

    </button>

  </div>


  <app-popup
    [show]="showErrorPopup"
    [type]="'notice'"
    [title]="'Terjadi Kesalahan'"
    [message]="errorMessage"
    [icon]="'mail-outline'"
    [confirmText]="'OK'"
    (confirmed)="closePopup()"
    (cancelled)="closePopup()">
  </app-popup>

</ion-content>