<ion-content class="reset-content">

  <div class="reset-wrapper">

   
    <div class="reset-header">

      <ion-icon
        name="arrow-back-outline"
        (click)="goBack()">
      </ion-icon>

      <h2>Password Baru</h2>

    </div>

    <p class="description">
      Buat password baru yang kuat dan mudah kamu ingat
    </p>


    <div class="input-group">

      <label>Password Baru</label>

      <div class="input-wrap">

        <input
          [type]="showNew ? 'text' : 'password'"
          placeholder="Min. 8 karakter"
          [(ngModel)]="newPassword">

        <ion-icon
          [name]="showNew ? 'eye-off-outline' : 'eye-outline'"
          (click)="showNew = !showNew">
        </ion-icon>

      </div>

    </div>

    <div class="input-group">

      <label>Konfirmasi Password</label>

      <div class="input-wrap">

        <input
          [type]="showConfirm ? 'text' : 'password'"
          placeholder="Ulangi password baru"
          [(ngModel)]="confirmPassword">

        <ion-icon
          [name]="showConfirm ? 'eye-off-outline' : 'eye-outline'"
          (click)="showConfirm = !showConfirm">
        </ion-icon>

      </div>

    </div>


    <button
      class="confirm-btn"
      (click)="savePassword()"
      [disabled]="isLoading">

      <span *ngIf="!isLoading">Simpan Password</span>
      <span *ngIf="isLoading">Menyimpan...</span>

    </button>

  </div>

  <app-popup
    [show]="showPopup"
    [type]="isSuccess ? 'confirm' : 'notice'"
    [title]="'Notifikasi'"
    [message]="errorMsg"
    [icon]="isSuccess ? 'checkmark-circle-outline' : 'lock-closed-outline'"
    [confirmText]="'OK'"
    (confirmed)="closePopup()"
    (cancelled)="closePopup()">
  </app-popup>

</ion-content>