<ion-content class="forgot-content">

  <div class="forgot-wrapper">

    <div class="forgot-header">

      <ion-icon
        name="arrow-back-outline"
        (click)="goBack()">
      </ion-icon>

      <h2>Lupa Password</h2>

    </div>

    <div class="icon-wrapper">
      <ion-icon
        name="lock-closed-outline"
        class="forgot-icon">
      </ion-icon>
    </div>

    <p class="description">
      Masukkan alamat email yang terdaftar untuk menerima kode OTP verifikasi
    </p>


    <div class="input-group">

      <label>Email</label>

      <input
        type="email"
        placeholder="Masukkan email"
        [(ngModel)]="email"
        [disabled]="isLoading">

    </div>


    <button
      class="verify-btn"
      (click)="sendOtp()"
      [disabled]="isLoading">

      <span *ngIf="!isLoading">Kirim Kode Verifikasi</span>
      <span *ngIf="isLoading">Mengirim...</span>

    </button>

  </div>

  <app-popup
    [show]="showPopup"
    [type]="'notice'"
    [title]="'Notifikasi'"
    [message]="errorMsg"
    [icon]="'mail-outline'"
    [confirmText]="'OK'"
    (confirmed)="closePopup()"
    (cancelled)="closePopup()">
  </app-popup>

</ion-content>